$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --white: #FFFFFF;
  --black: #000000;
  --time: .3s;

  --primary-white: #fff;
  --primary-white--2: #fcfcfc;
  --primary-white--shade: #f5f5f5;
  --secondary-grey: #999;
  --primary-black: #363636;
  --secondary-purp: #9c6fae;
  --secondary-purp--shade: #7f578e;
  --secondary-purp--light: #b08cbe;
  --secondary-purp-i-darke: #79438f;
  --secondary-purp-i-disabled: #ae9ab6;
  --secondary-green: #5bc3b7;
  --secondary-green--darke: #3da89c;
  --secondary-greenp--light: #5fcec1;
  --secondary-green-i-disabled: #89c8c0;
  --prime-white--700: rgba(255, 255, 255, 0.7);
  --secondary-gray-i-300: rgba(153, 153, 153, 0.3);
  --gray: #f0f0f0;

  --font-family: "Raleway", sans-serif;
}