.adults {
  position: relative;
  padding-top: 4.5rem;
  padding-bottom: 6rem;

  @include breakpoint($xl-bp) {
    padding-top: 2.1rem;
    padding-bottom: 3.5rem;
  }

  * {
    position: relative;
    z-index: 2;
  }
}

.adults-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 94rem;

  @include breakpoint($xl-bp) {
    position: relative;
    width: calc(100% + 3.2rem);
    left: -1.6rem;
    margin-top: 2rem;
  }
}

.breadcrumbs {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 114%;

  display: flex;
  align-items: center;

  @include breakpoint($xl-bp) {
    font-size: 1rem;
    line-height: 160%;
  }

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;

    display: flex;
    align-items: center;

    transition: text-decoration-color var(--time);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }

  &>* {
    display: flex;
    align-items: center;

    &::before {
      content: '/';
      margin-left: 0.6rem;
      margin-right: 0.6rem;
      text-decoration: none;
      color: var(--primary-black);
    }

    &:last-child {
      color: var(--secondary-grey);
    }

    &:first-child {
      &::before {
        content: normal;
      }

      a {
        &::before {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66669 15.3333H5.33335C5.51016 15.3333 5.67973 15.2631 5.80476 15.1381C5.92978 15.0131 6.00002 14.8435 6.00002 14.6667V10.6667C6.00002 10.4899 6.07026 10.3203 6.19528 10.1953C6.32031 10.0702 6.48988 10 6.66669 10H9.33335C9.51016 10 9.67973 10.0702 9.80476 10.1953C9.92978 10.3203 10 10.4899 10 10.6667V14.6667C10 14.8435 10.0703 15.0131 10.1953 15.1381C10.3203 15.2631 10.4899 15.3333 10.6667 15.3333H13.3334C13.5102 15.3333 13.6797 15.2631 13.8048 15.1381C13.9298 15.0131 14 14.8435 14 14.6667V8.66667H14.5187C14.6542 8.68232 14.7912 8.65569 14.911 8.59041C15.0308 8.52514 15.1275 8.42442 15.1878 8.30206C15.2481 8.1797 15.2691 8.04169 15.2479 7.90693C15.2267 7.77218 15.1643 7.64727 15.0694 7.54934L8.56269 0.908005C8.48942 0.833017 8.4019 0.773432 8.30527 0.73275C8.20864 0.692069 8.10486 0.671112 8.00002 0.671112C7.89518 0.671112 7.7914 0.692069 7.69477 0.73275C7.59814 0.773432 7.51062 0.833017 7.43735 0.908005L0.930687 7.54934C0.835727 7.64727 0.773375 7.77218 0.752176 7.90693C0.730977 8.04169 0.751967 8.1797 0.812271 8.30206C0.872575 8.42442 0.969241 8.52514 1.08902 8.59041C1.2088 8.65569 1.34584 8.68232 1.48135 8.66667H2.00002V14.6667C2.00002 14.8435 2.07026 15.0131 2.19528 15.1381C2.32031 15.2631 2.48988 15.3333 2.66669 15.3333Z' stroke='%23363636' stroke-width='1.33333' /%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 1.6rem;
          height: 1.6rem;
          display: inline-flex;
          margin-right: 0.6rem;
          flex: 0 0 auto;
          margin-left: 0;

          position: relative;
          top: -0.2rem;

          @include breakpoint($xl-bp) {
            width: 1.2rem;
            height: 1.2rem;
            top: -0.1rem;
          }
        }
      }
    }
  }
}

.adults-title {}

.adults-desc {
  max-width: 80rem;
  margin-top: 3rem;

  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;

    margin-top: 1.4rem;
  }

  p {
    margin-bottom: 2rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 1.2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.adults-button {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  @include breakpoint($xl-bp) {
    margin-top: 1.8rem;
  }
}

.method {}

.method-title {
  max-width: 100rem;
}

.method-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  margin-top: 1.5rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    margin-top: 2rem;

    row-gap: 3.8rem;
  }
}

.method-li {}

.method-img {
  width: 14rem;
  height: 12rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($xl-bp) {
    width: 10rem;
    height: 8.5rem;
  }
}

.method-subtitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  color: var(--secondary-green--darke);

  margin-top: 2rem;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;
    margin-top: 1.4rem;
  }
}

.method-desc {
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  text-align: center;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;
  }
}

.method-info {
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  color: var(--primary-white);
  background: var(--secondary-green);
  border: 1px solid var(--secondary-green--darke);
  border-radius: 3.2rem;
  padding: 0 4rem;

  display: flex;
  align-items: center;
  gap: 2rem;

  margin-top: 4rem;

  min-height: 7rem;

  position: relative;
  z-index: 1;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;
    gap: 0.8rem;
    padding: 0.8rem 1.6rem;
    border-radius: 4rem;

    margin-top: 3rem;
  }
}

.method-icon {
  width: 6.4rem;
  height: 6.4rem;

  flex: 0 0 auto;

  @include breakpoint($xl-bp) {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.method-block {
  display: flex;
  align-items: center;
  gap: 12rem;

  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  background: var(--primary-white--2);

  border: 2px solid var(--primary-white--shade);
  border-radius: 3.2rem;

  padding-left: 12rem;
  padding-right: 12rem;

  padding-top: 8rem;
  padding-bottom: 1rem;

  margin-top: -7rem;

  @include breakpoint($xl-bp) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    display: flex;
    flex-direction: column;

    gap: 1.2rem;

    padding-top: 8.5rem;
  }
}

.method-picture {
  width: 21.1rem;
  height: 15rem;
  max-width: 100%;

  flex: 0 0 auto;

  @include breakpoint($xl-bp) {
    width: 16.9rem;
    height: 12rem;
  }
}

.method-text {
  @include breakpoint($xl-bp) {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 138%;
  }

  a {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--secondary-green--darke);
    transition: text-decoration-color var(--time);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.mcatalog {}

.mcatalog-head {
  display: flex;
  justify-content: space-between;
}

.mcatalog-title {}

.mcatalog-btns {
  display: flex;

  @include breakpoint($xl-bp) {
    display: none;
  }
}

.mcatalog-btn {
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  color: var(--secondary-green);

  transition: background-color var(--time);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #F0F0F0;
    }
  }

  &.active {
    background: var(--secondary-green);
    color: var(--primary-white);
  }
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  margin-top: 2.5rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    margin-top: 2rem;
  }

  @include breakpoint($sm-bp) {
    display: flex;
    flex-direction: column;
  }

  &[data-layout="list"] {
    display: flex;
    flex-direction: column;

    gap: 1.3rem;

    .catalog-item {
      min-height: 13.8rem;
    }

    .catalog-wrap {
      padding: 1.2rem 4rem;
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }

    .catalog-tag {
      top: 1.3rem;
      right: 1.4rem;
      left: auto;
    }

    .catalog-img {
      width: 14rem;
      height: 11.4rem;
      margin-right: 0;
      margin-left: 0;
    }

    .catalog-subtitle {
      text-align: start;
    }

    .catalog-date {
      justify-content: flex-start;
    }
  }
}

.catalog-item {
  position: relative;

  min-height: 32rem;
  display: flex;
  flex-direction: column;

  @include breakpoint($xl-bp) {
    min-height: 26rem;
    border-radius: 2.6rem;
  }
}

.catalog-wrap {
  border: 2px solid var(--secondary-green);
  border-radius: 3rem;
  padding: 2.4rem 1.2rem 1.2rem;

  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.12);
  background: var(--primary-white--2);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: box-shadow var(--time);

  @include breakpoint($xl-bp) {
    border-radius: 2.6rem;
  }
}

.catalog-hiddenlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  z-index: 1;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &~.catalog-wrap .catalog-block .catalog-subtitle {
        color: var(--secondary-purp);
      }

      &~.catalog-wrap {
        box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.catalog-tag {
  background: var(--secondary-purp--light);

  border-radius: 3rem;
  padding: 0 1.2rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 144%;
  text-align: center;
  color: var(--primary-white);

  position: absolute;
  top: 1.5rem;
  left: 1.5rem;

  @include breakpoint($xl-bp) {
    top: 1rem;
    left: 1rem;

    font-size: 1.6rem;
    line-height: 125%;
    padding: 0.5rem 1.2rem;
  }
}

.catalog-img {
  width: 16rem;
  height: 13rem;

  margin-left: auto;
  margin-right: auto;

  mix-blend-mode: multiply;

  flex: 0 0 auto;

  @include breakpoint($xl-bp) {
    width: 12rem;
    height: 9.7rem;
  }
}

.catalog-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.catalog-subtitle {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 122%;
  text-align: center;
  color: var(--secondary-green--darke);

  margin-top: 1.1rem;

  transition: color var(--time);

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    line-height: 129%;

    margin-top: 0.8rem;
  }
}

.catalog-date {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 114%;
  color: var(--secondary-purp--shade);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  margin-top: auto;
  padding-top: 1rem;

  @include breakpoint($xl-bp) {
    font-size: 1.2rem;
    line-height: 100%;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;

    @include breakpoint($xl-bp) {
      width: 2rem;
      height: 2rem;
    }
  }
}

.catalog-innertext {
  position: relative;
  top: 1px;
}