.header {
  position: relative;
  width: 100%;
  will-change: transform;
  top: 0;
  left: 0;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  background: var(--prime-white--700);

  padding-bottom: 1rem;

  backdrop-filter: blur(4px);

  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.05);

  @include breakpoint($xl-bp) {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;

    align-items: center;

    will-change: auto;
    transition: background-color var(--time);
    box-shadow: none;
  }

  &::before {
    @include breakpoint($xl-bp) {
      content: '';
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.05);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

  }

  .menu-opened & {
    background: var(--white);
  }
}

.menu-opened {
  overflow: hidden;
}

.up,
.header--active {
  position: sticky;
  @include breakpoint($xl-bp) {
    position: sticky;
  }
}

.up {
  transition: transform .4s;
  // @include breakpoint($xl-bp) {
  //   transition: none;
  // }
}

.header--active2 {
  transition: transform .4s;
  // @include breakpoint($xl-bp) {
  //   transition: none;
  // }
}

.header--active.out {
  transform: translate3d(0, calc(-100% - 1rem), 0);

  // @include breakpoint($xl-bp) {
  //   transform: none;
  // }
}

.header-logo {
  width: 16.4rem;
  height: 11rem;

  margin-top: auto;
  margin-bottom: auto;

  position: relative;
  z-index: 20;

  @include breakpoint($xl-bp) {
    width: 8.9rem;
    height: 6rem;
  }
}