.hero {
  padding-top: 11.55rem;
  padding-bottom: 12.55rem;

  position: relative;

  @include breakpoint($xl-bp) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &>* {
    max-width: 68rem;
    position: relative;
    z-index: 1;
  }
}

.hero-title {
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @include breakpoint($xl-bp) {
    margin-top: 1.5rem;
    font-size: 2.8rem;
  }
}

.hero-desc {
  margin-top: 3rem;

  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  color: var(--primary-black);

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;
    margin-top: 1.3rem;
  }

  strong {
    font-weight: 700;
    color: var(--secondary-green--darke);
  }

  p {
    padding-bottom: 4rem;

    @include breakpoint($xl-bp) {
      padding-bottom: 2rem;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.hero-bg {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;

  @include breakpoint($xl-bp) {
    width: calc(100% + 3.2rem);
    max-width: calc(100% + 3.2rem);
    position: relative;
    left: -1.6rem;
  }
}

.good {}

.good-head {
  border-radius: 3rem;
  padding: 1.5rem;
}

.good-wrap {
  padding-left: 24.5rem;
  padding-right: 24.5rem;

  @include breakpoint($xl-bp) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.good-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 22.9167V33.3333M25 43.75C14.6447 43.75 6.25 35.3553 6.25 25C6.25 14.6447 14.6447 6.25 25 6.25C35.3553 6.25 43.75 14.6447 43.75 25C43.75 35.3553 35.3553 43.75 25 43.75ZM25.1038 16.6667V16.875L24.8962 16.8754V16.6667H25.1038Z' stroke='white' stroke-width='4.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5rem;
    height: 5rem;
    display: flex;

    @include breakpoint($xl-bp) {
      width: 3rem;
      height: 3rem;
    }
  }
}

.good-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  margin-top: 1rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.good-item {
  background: var(--primary-white--2);

  border: 2px solid var(--secondary-green--darke);
  border-radius: 1.5rem;
  padding: 1.3rem 1.5rem 1.1rem;

  font-weight: 500;
  font-size: 1.8rem;
  line-height: 144%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}

.good-swiper {
  padding-top: 4rem;
  padding-bottom: 3.5rem;

  @include breakpoint($xl-bp) {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  .swiper-slide {
    width: calc(100% / 4 - 3rem);
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.12);
    background: var(--primary-white--2);

    border-radius: 3rem;
    border: 2px solid var(--secondary-green);

    margin-right: 4rem;
    height: auto;

    display: flex;
    flex-direction: column;

    position: relative;

    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    @include breakpoint($xl-bp) {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    &.purple {
      border-color: var(--secondary-purp);

      .good-subtitle {
        color: var(--secondary-purp);
      }

      .good-sublist {
        li {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='5.5' stroke='%239C6FAE' stroke-width='3' /%3E%3C/svg%3E");
          }
        }
      }

      .good-cta {
        background: var(--secondary-purp);
      }

      .good-hiddenlink {
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            &~.good-cta {
              background-color: transparent;
              color: var(--secondary-purp);
            }
          }
        }
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      @include breakpoint($xl-bp) {
        height: 1.4rem;
      }
    }
  }
}

.good-hiddenlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &~.good-cta {
        background-color: transparent;
        color: var(--secondary-green);
      }
    }
  }
}

.good-subtitle {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: var(--secondary-green--darke);
  padding-top: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @include breakpoint($xl-bp) {
    font-size: 2.4rem;
  }
}

.good-img {
  margin-top: 0.7rem;
  height: 31.6rem;

  @include breakpoint($sm-bp) {
    height: 32rem;
  }
}

.good-sublist {
  padding-left: 2rem;
  padding-right: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

  li {
    position: relative;

    padding-left: 2.4rem;

    font-weight: 500;
    font-size: 1.8rem;
    line-height: 144%;

    @include breakpoint($xl-bp) {
      font-size: 1.6rem;
      line-height: 138%;
      padding-left: 2rem;
    }

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='5.5' stroke='%235BC3B7' stroke-width='3'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      position: absolute;
      top: 0.5rem;
      left: 0;
      width: 1.4rem;
      height: 1.4rem;

      @include breakpoint($xl-bp) {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.good-cta {
  background: var(--secondary-green);

  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white--2);

  padding: 1rem 1rem;
  border-radius: 0 0 2.5rem 2.5rem;

  margin-top: auto;
  transition: color var(--time), background-color var(--time);

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
  }
}

.how {
  display: flex;
  flex-direction: column;

  @include breakpoint($xl-bp) {
    padding-top: 0.5rem;
  }
}

.how-title {
  @include breakpoint($xl-bp) {
    text-align: center;
  }
}

.how-steps {
  counter-reset: step;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12rem;
  row-gap: 4rem;

  margin-top: 2rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.how-step {
  counter-increment: step;

  position: relative;

  padding-left: 9.5rem;
  padding-top: 2.5rem;

  display: flex;
  flex-direction: column;

  @include breakpoint($xl-bp) {
    padding-left: 7rem;
    padding-top: 1.2rem;
  }

  &::after {
    content: counter(step);

    font-weight: 600;
    font-size: 2.6rem;
    color: var(--secondary-green--darke);
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='77' viewBox='0 0 76 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.0803 0.00276619C41.4378 0.0507473 43.1991 0.285603 44.5229 0.564925C44.9368 0.651453 44.7167 0.665412 45.0007 0.729411C45.5531 0.855798 46.0818 0.942008 46.6231 1.09486C46.8023 1.14605 46.5576 1.17408 46.7456 1.22605C47.7738 1.51192 48.752 1.76751 49.7755 2.12369C54.8041 3.88122 59.3934 6.59343 63.3482 10.2279C64.6568 11.4236 66.0855 13.0347 67.2589 14.4327C67.3964 14.5956 67.3735 14.4506 67.4038 14.4783C67.8755 14.9176 67.6264 14.8452 67.8664 15.1847C68.8161 16.5343 69.8276 18.0584 70.6437 19.4169C70.9896 19.9958 70.7829 19.3351 71.045 19.9686C71.063 20.0125 70.9115 19.9009 70.994 20.0667C71.183 20.4421 71.5635 21.138 71.7022 21.4326C71.9701 21.9991 72.0149 22.0918 72.2627 22.6287C72.5997 23.3653 72.9354 24.2658 73.2569 25.0723C73.3257 25.2447 73.315 24.9861 73.4311 25.2593C73.5487 25.5318 73.7998 26.2735 73.8627 26.5315C73.927 26.7888 73.8318 26.7012 73.8326 26.7501C73.8381 27.1528 74.2549 27.966 74.2889 28.0795C74.9315 30.1071 75.1856 31.9284 75.4247 33.9004C75.6043 35.391 75.7254 36.9872 75.7198 38.4248C75.7198 38.4248 75.7198 38.4248 75.7198 38.4248C75.7198 38.4367 75.7197 38.4486 75.7197 38.4605C75.7086 40.1825 75.5704 41.6244 75.37 43.2806C75.3481 43.4549 75.4684 43.2628 75.4414 43.476C75.1513 45.7432 74.637 47.9685 73.8769 50.1111C73.8003 50.326 73.8125 50.0211 73.731 50.2338C73.2471 51.5421 72.2611 53.497 72.2277 54.3931C71.8196 55.2446 71.2793 56.2583 70.8002 56.957C70.4909 57.4065 70.6757 56.9045 70.3749 57.4998C70.3061 57.6336 70.4736 57.5053 70.3647 57.7031C69.9052 58.5367 69.3193 59.3951 68.8105 60.1887C68.7072 60.3502 68.7949 60.3483 68.7739 60.4001C68.5943 60.8349 67.9999 61.343 67.8887 61.4652C67.0464 62.4067 66.4819 63.1306 65.6898 63.9963C65.505 64.1963 65.7933 64.0239 65.6173 64.2186C64.7023 65.2271 63.6793 66.2046 62.646 67.0461C62.4159 67.2327 62.5688 66.9933 62.4561 67.0791C61.9591 67.455 61.9502 67.6609 61.4636 68.0114C61.3608 68.0849 61.3731 67.9863 61.3503 67.9947C60.9956 68.125 60.8526 68.4483 60.7809 68.5079C59.8784 69.2583 59.162 69.5444 58.2324 70.179C58.1205 70.2547 58.4248 70.1638 58.1065 70.372C55.985 71.7588 53.5596 72.9474 51.1922 73.7667C50.8237 73.8941 51.061 73.7342 51.0351 73.7353C50.617 73.7566 50.4343 74.001 50.3162 74.0496C49.3859 74.4266 48.4517 74.5579 47.8498 74.9332C44.5474 75.7845 41.1674 76.2936 37.7773 76.2263C37.7773 76.2263 37.7773 76.2263 37.7773 76.2263C36.9382 76.2097 36.1174 76.1587 35.2866 76.0687C35.2334 76.0631 35.3344 75.9858 35.2284 75.9749C33.9552 75.8323 34.1967 75.9775 33.3285 76.0438C33.1089 76.06 32.4882 75.7835 32.4347 75.7604C32.2353 75.6794 32.4673 75.5867 32.3996 75.5668C31.8436 75.4042 31.8694 75.8286 31.0936 75.6945C31.0696 75.6895 31.1844 75.6328 31.1208 75.6139C30.9237 75.5548 30.719 75.5473 30.528 75.4836C30.092 75.3355 29.9725 75.1091 29.2685 75.0682C29.1794 75.0619 29.2569 75.3249 28.5787 75.147C28.3089 75.0805 27.1096 74.7554 26.7854 74.6353C26.4592 74.5198 26.7084 74.5171 26.6857 74.5068C25.8267 74.1331 26.1765 74.1982 25.7827 73.9127C25.3927 73.6244 25.3999 73.9964 25.2076 73.9706C25.0151 73.9457 24.4026 73.6315 24.2577 73.5432C24.112 73.4563 24.3237 73.4868 24.1911 73.4181C23.3164 72.9583 23.725 73.4202 23.4024 73.3498C22.6407 73.1774 22.1954 72.6929 21.577 72.3699C21.4092 72.2818 21.5231 72.4023 21.3682 72.3336C20.7556 72.058 20.4349 71.8038 19.7307 71.5059C19.6157 71.4579 18.9979 71.2929 18.7115 70.9903C18.6713 70.9473 18.842 70.973 18.604 70.8155C18.2485 70.5814 17.6036 70.1636 17.21 69.9299C16.9189 69.7575 17.1834 70.0605 16.8468 69.7971C16.6978 69.6794 17.0234 69.8229 16.7415 69.606C16.4595 69.3916 15.7212 68.8724 15.4455 68.6677C15.1692 68.4651 15.2713 68.6417 15.2458 68.6296C15.0915 68.5554 14.5439 68.1833 14.4987 68.1461C12.1747 66.3288 10.3327 64.3117 8.49524 62.1236C8.35145 61.9512 8.37896 62.121 8.35634 62.0953C7.8482 61.515 8.40274 61.8494 8.13255 61.3813C8.0437 61.5484 7.87162 61.2808 7.53327 60.8579C7.37064 60.6539 7.40116 60.8077 7.38147 60.7927C7.06914 60.5406 7.01991 60.2424 7.00192 60.1706C6.93477 59.9046 6.6804 59.7418 6.63693 59.56C6.59389 59.3791 6.89769 59.6555 6.6081 59.2277C6.47587 59.1413 6.55491 59.552 6.31436 59.2383C5.38352 58.0617 4.14499 55.5561 3.67033 54.4591C3.17886 53.3717 3.02642 53.015 2.78629 52.3632C2.36855 51.1777 2.42329 51.6483 2.10644 50.9318C1.79822 50.2075 2.20412 50.4734 2.22768 50.3468C2.25307 50.2225 2.15324 50.1292 2.14425 49.9881C2.13563 49.8478 2.26714 50.1149 2.18163 49.8063C2.0936 49.4977 1.73893 48.6945 1.64592 48.6006C1.44653 48.4058 1.40546 48.8304 1.23485 47.9891C1.22543 47.9407 1.34092 48.0756 1.30112 47.8913C0.985425 46.4365 0.691937 44.9111 0.549437 43.4331C0.530105 43.2299 0.639679 43.3995 0.629581 43.2812C0.535697 42.0486 0.445643 42.5017 0.217748 41.8423C0.448377 41.9734 0.535723 41.5923 0.479583 40.6576C0.449148 40.0933 0.361505 40.1985 0.280258 39.8367C0.255622 39.7283 0.308923 39.3278 0.263585 39.2564C0.115723 39.0199 -0.046667 39.4022 0.0120406 38.4248C0.0120672 38.4244 0.0120939 38.424 0.0121207 38.4236C0.0132045 38.4084 0.0237561 38.4156 0.0371787 38.4248C0.0371787 38.4248 0.0371787 38.4248 0.0371787 38.4248C0.0548367 38.4369 0.0774641 38.4523 0.0900203 38.4248C0.0900203 38.4248 0.0900203 38.4248 0.0900203 38.4248C0.094999 38.4139 0.0983979 38.3963 0.0993189 38.3691C0.138166 37.4134 -0.0118889 37.299 0.0214193 36.2665C0.0471002 35.4527 0.274701 34.0298 0.423525 33.1231C0.659332 33.1754 0.730755 32.3155 0.629417 31.939C0.737842 31.3518 0.853911 30.7206 1.00312 30.161C1.05439 29.9691 1.09425 30.1119 1.10715 30.0891C1.30769 29.7428 1.21134 29.4554 1.23606 29.3288C1.51529 27.9586 1.96624 26.909 2.30115 25.6182C2.31328 25.5727 2.17984 25.4423 2.42049 25.1501C2.43662 25.1318 2.35313 25.5703 2.58004 24.986C2.8064 24.4006 3.34022 23.3484 3.63973 22.5309C3.71045 22.3333 3.81738 21.7916 4.10668 21.4576C4.14531 21.4133 4.16033 21.4906 4.22139 21.4296C4.41773 21.2328 4.33314 21.0254 4.60681 20.8181C4.88078 20.6119 5.2789 20.0981 5.63764 19.3012C5.64936 19.276 5.6386 19.0299 5.78472 18.7963C6.01691 18.4237 6.37671 17.9155 6.63151 17.5363C6.75342 17.3546 6.60574 17.4238 6.62572 17.3914C7.42001 16.145 8.11339 15.3463 9.15374 14.1602C9.34368 13.943 9.80647 13.2395 10.2565 12.8909C10.7514 12.5121 10.6083 13.242 11.5177 12.176C11.8861 11.753 12.0462 10.8667 12.9947 10.3873C14.4402 9.02333 15.9888 8.02569 17.6066 6.87239C17.6793 6.82058 17.8407 6.54554 18.0218 6.43607C18.2906 6.27383 18.4729 6.24396 18.667 6.13382C19.4817 5.67507 20.2067 5.21457 21.0188 4.81829C21.3276 4.66885 21.2512 4.78417 21.6203 4.61052C21.9892 4.43914 22.1971 4.23933 22.7222 4.05679C23.1202 3.91984 23.5757 3.93272 24.0953 3.75085C24.0462 3.57009 24.4001 3.43006 25.0195 3.15282C25.1384 3.09973 24.9853 3.08579 25.0405 3.05751C25.265 2.94104 25.5019 2.91552 25.7158 2.80454C25.768 2.77766 25.7502 2.7163 25.7918 2.69096C26.1456 2.47138 26.8271 2.41097 26.9422 2.4037C27.3873 2.36984 27.5606 2.23517 27.8943 2.18251C28.2273 2.1314 27.7564 2.30644 28.1395 2.22722C28.9302 2.06369 29.9409 1.82275 30.7445 1.67494C31.0655 1.61537 30.831 1.57276 30.8766 1.56228C31.5387 1.41624 32.2318 1.40311 32.5786 1.18444C33.1025 1.55827 32.9759 1.08127 33.9557 1.06528C34.032 1.06486 34.1489 1.26129 33.8617 1.32134C33.5741 1.38163 33.1264 1.36813 32.7325 1.46968C32.638 1.49262 32.1277 1.7634 32.0561 1.78746C31.4942 1.96909 31.3617 1.68125 31.3276 1.66908C30.9472 1.54702 30.3287 1.88163 30.16 1.93286C29.3812 2.16284 28.7115 2.28163 28.0704 2.50299C27.6526 2.64846 27.6674 2.8563 27.3361 2.94617C26.241 3.25319 25.7618 3.11627 24.8332 3.71832C24.635 3.8501 24.9272 3.97058 24.0955 4.11014C24.0432 4.11816 23.4139 4.20128 23.1265 4.43703C23.0906 4.46644 23.1176 4.52525 23.0659 4.55364C22.7194 4.74328 22.4591 4.80398 22.0819 5.00811C21.7059 5.21203 21.259 5.47276 20.8161 5.67823C20.5489 5.80164 20.1596 5.8746 20.0207 5.91735C19.6279 6.03504 19.3248 6.36958 19.0597 6.40591C18.7913 6.4442 19.1345 6.05738 18.5327 6.33781C18.5983 6.49453 18.6395 6.67117 18.6939 6.83588C17.4678 7.57173 16.2747 8.3256 15.1431 9.21262C15.0032 9.32286 15.2022 9.28223 15.0543 9.40233C14.432 9.90964 13.8507 10.3106 13.2443 10.8843C12.7754 11.329 12.3257 11.8829 11.8666 12.374C11.4376 12.5257 10.7859 13.2931 10.2904 13.8248C10.1162 14.0109 10.0892 13.9643 9.95674 14.0897C9.46051 14.5669 9.80063 14.4356 9.69892 14.595C9.27087 15.2827 8.92801 15.0899 8.3489 15.8503C8.3169 15.8905 8.11001 16.506 8.0719 16.5816C7.82235 17.0641 7.96131 16.6107 7.75155 16.8747C7.37131 17.3584 7.08598 17.6848 6.74196 18.3224C6.64143 18.5089 6.47936 19.0016 6.18381 19.2995C6.14492 19.3387 6.1023 19.2782 6.0765 19.3132C5.61677 19.9526 5.79423 20.0805 5.63786 20.5035C5.48175 20.927 5.0329 21.4654 4.93142 21.5727C4.66588 21.8502 5.01864 21.3002 5.01938 21.2783C5.01542 21.0112 4.79813 21.4678 4.6156 21.8092C4.403 21.7648 4.17435 22.2596 4.4282 22.1642C4.45599 22.1529 4.57188 21.8742 4.6156 21.8092C4.6457 22.2055 4.41202 22.7421 3.96919 23.2614C3.7636 23.5059 3.77873 23.195 3.4472 24.0724C3.30059 24.4709 3.49586 24.374 3.39312 24.7344C3.1588 25.5579 2.66304 26.5519 2.4226 27.4026C2.33596 27.7089 2.50243 27.436 2.4464 27.6459C2.29953 28.2025 2.105 28.6777 1.98995 29.2484C1.9798 29.2998 2.09108 29.1964 2.04797 29.3705C1.72661 30.6927 1.44306 31.8505 1.24111 33.2622C1.14043 33.9431 1.05752 35.173 1.00471 35.8834C0.939699 36.6825 0.854696 37.5836 0.826526 38.4248C0.810502 38.8885 0.810858 39.3255 0.834029 39.7012C0.878806 40.3889 0.957346 40.232 1.02853 40.525C1.16521 41.0882 1.06152 42.1014 1.04805 42.2408C1.04646 42.2446 0.971228 41.658 0.958827 41.9763C0.888583 42.1678 1.04704 42.2341 1.04805 42.2408C1.03329 42.3331 1.15648 43.515 1.21078 43.7436C1.23761 43.8686 1.30463 43.7867 1.31725 43.8519C1.61807 45.4099 1.96684 46.9466 2.36965 48.4998C2.37586 48.5274 2.28017 48.5104 2.29587 48.575C2.51546 49.4779 2.80481 50.0158 3.11749 50.7135C3.43231 51.411 3.63588 51.9803 3.66935 52.456C3.9045 52.9826 4.1827 53.7689 4.3524 54.2171C4.52148 54.6661 4.70646 54.6511 4.72737 54.6871C5.4077 55.8086 5.68461 56.5154 6.37716 57.6842C6.70486 58.2416 7.43267 59.2954 7.8593 59.849C8.19367 60.2877 8.36132 60.5776 8.69277 60.9647C8.73765 61.0169 8.75482 60.9156 8.76999 60.9304C9.19009 61.3201 8.87757 61.2202 8.92412 61.3329C9.09574 61.7396 9.21158 61.9886 9.72927 62.5071C9.84898 62.6276 10.3711 62.8196 10.587 63.0334C10.8682 63.3126 10.6966 63.2675 10.9968 63.5555C11.0226 63.58 11.06 63.5347 11.2344 63.7219C12.0446 64.5897 12.9613 65.5096 13.9042 66.3085C14.0328 66.4176 13.929 66.2064 14.1159 66.3622C14.9927 67.093 15.9823 67.8568 16.8715 68.527C17.0904 68.6922 16.912 68.6482 16.9499 68.6981C17.1852 69.0043 17.7138 69.1478 17.787 69.1909C19.5422 70.2245 20.841 71.1132 22.7667 71.908C22.872 71.953 23.7406 72.131 24.0405 72.4184C24.0606 72.4379 24.3588 72.7315 24.7172 72.7498C24.7393 72.7507 24.5447 72.589 24.9328 72.7445C25.3222 72.9002 25.9694 73.0712 26.4891 73.3336C26.6532 73.4167 27.0173 73.7017 27.5755 73.7297C27.6128 73.7332 28.4942 73.6781 28.7335 73.9415C28.7724 73.9842 28.6707 74.1807 29.3275 74.2263C29.4529 74.234 29.2447 74.1376 29.569 74.1823C30.0659 74.2501 30.7028 74.4399 31.3226 74.4541C31.4311 74.4569 31.9018 74.393 32.2459 74.5544C32.2996 74.5797 32.182 74.6334 32.3709 74.6695C33.2703 74.8411 34.2346 74.8994 35.1586 75.0129C35.4875 75.0524 35.3109 75.1553 35.6553 75.2064C36.001 75.2581 36.6924 75.314 37.0572 75.2674C37.4204 75.221 37.0279 75.0351 37.5689 75.0256C37.6384 75.0242 37.7079 75.0226 37.7773 75.0211C40.0482 74.9691 42.305 74.864 44.5444 74.462C44.8854 74.3995 44.5918 74.3912 45.091 74.2906C46.9493 73.9443 50.0333 72.9236 51.5901 72.4033C52.844 72.0009 51.3507 72.7175 52.2963 72.368C52.7546 72.1959 53.1448 71.7838 53.247 71.7286C54.2514 71.1834 54.9964 70.8994 55.8799 70.368C56.0614 70.2577 55.8383 70.2867 55.9927 70.1935C56.5188 69.8744 57.0911 69.5698 57.5824 69.2448C57.8024 69.0986 57.7259 69.0705 57.931 68.9413C58.4206 68.6305 58.8582 68.3595 59.3525 68.0753C59.3977 68.0492 59.1633 68.3208 59.5135 68.0688C60.0791 67.6603 60.8028 67.1733 61.3786 66.6079C61.549 66.4394 61.4602 66.322 61.9136 66.0644C62.0079 66.0096 62.0261 66.2365 62.368 65.7225C62.4284 65.637 63.0191 64.8076 63.4594 64.5579C63.5764 64.4929 63.9154 64.363 64.0997 64.141C64.1242 64.1106 63.9583 64.166 64.1182 63.9906C64.6821 63.3725 65.2772 62.7291 65.8116 62.0564C65.9538 61.8766 65.6712 62.0845 65.8842 61.8182C66.4695 61.087 67.1966 60.1709 67.7428 59.4342C67.9445 59.1627 67.867 59.3935 67.8872 59.3777C68.2141 59.1211 68.2088 58.8327 68.2734 58.7189C68.6771 58.008 69.071 57.5194 69.4338 56.8595C69.5336 56.6772 69.3918 56.7652 69.4066 56.726C69.561 56.3212 69.5241 56.6677 69.672 56.4394C70.0864 55.7979 70.4745 55.044 70.8004 54.3447C70.9194 54.0885 70.7004 54.3352 70.8074 54.1061C71.4373 52.7481 72.0247 51.3027 72.53 49.931C72.6253 49.6719 72.6375 49.8585 72.6706 49.8088C72.9018 49.4641 72.9237 48.8625 72.9462 48.7307C73.0512 48.1297 73.172 47.9166 73.2932 47.3943C73.8963 44.8448 74.3464 41.6332 74.401 39.1556C74.4083 38.9086 74.4134 38.6652 74.4162 38.4248C74.4162 38.4248 74.4162 38.4248 74.4162 38.4248C74.437 35.5399 74.2314 33.1727 73.6093 30.3948C73.5654 30.2038 73.5181 30.4168 73.4788 30.2529C72.9736 28.1401 72.3462 26.0853 71.4683 24.0912C71.396 23.9276 71.4166 24.1989 71.2976 23.9382C71.0526 23.4034 70.7455 22.7305 70.5048 22.1854C70.3874 21.92 70.6292 22.2341 70.509 21.9675C70.2284 21.3468 69.887 20.7008 69.5241 20.1023C69.3693 19.8483 69.517 20.2809 69.3216 19.9483C67.9811 17.6859 66.4302 15.6162 64.7124 13.5802C64.5945 13.441 64.6194 13.1974 64.324 12.9398C64.267 12.9539 64.225 12.9965 64.1769 13.025C61.4977 10.2846 58.4799 7.91196 55.0893 6.08057C54.9466 6.00385 55.1477 6.22104 54.8714 6.07368C53.2657 5.22353 51.6453 4.54019 49.9242 3.83208C49.7532 3.76294 49.8999 3.63011 49.3736 3.48095C49.2814 3.45294 48.4897 3.22547 48.2763 3.20344C48.2471 3.2007 48.3675 3.31928 48.1141 3.24691C46.6369 2.82506 45.0777 2.45608 43.5686 2.16873C43.3245 2.12235 43.5991 2.07929 43.4249 2.04572C42.1947 1.80897 40.8312 1.73835 39.6341 1.60358C38.8372 1.51622 39.1385 1.38347 38.7131 1.22604C38.6529 1.20328 38.1499 1.19191 38.1242 1.10842C38.0584 0.896369 38.3077 0.667531 38.2089 0.441158C38.1927 0.402951 37.7776 0.423406 37.7773 0.382155L-nan -nanL37.7773 0.924805L-nan -nanL37.7773 0.382129C37.7774 0.369834 37.8135 0.35184 37.9067 0.325447C37.9354 0.316952 38.4365 0.282914 38.5604 0.246557C38.6469 0.220855 38.4937 0.132061 38.67 0.100686C38.8466 0.0696384 39.0372 0.146349 39.3286 0.116432C39.6211 0.0873529 39.4936 -0.0183328 40.0803 0.00276619ZM5.17272 56.2226C5.3167 56.6529 5.60948 56.5633 5.31477 56.1783C5.30027 56.1597 5.16521 56.2005 5.17272 56.2226ZM16.1659 8.15983C15.614 8.39305 15.4128 8.79048 15.802 8.62705C16.1905 8.46648 16.3334 8.08985 16.1659 8.15983ZM21.302 4.97083C20.6427 5.18385 20.7429 5.60972 21.3531 5.20702C21.3888 5.18395 21.3405 4.9586 21.302 4.97083ZM40.7105 1.28714C40.7048 1.28229 40.3445 1.25216 40.3355 1.25591C40.1376 1.33684 40.8561 1.3965 40.7105 1.28714ZM26.8552 2.65808C26.6346 2.6638 26.066 2.9168 26.3416 2.90303C26.5625 2.8907 27.1295 2.6491 26.8552 2.65808ZM21.6229 72.2301C21.6273 72.2373 21.8605 72.3524 21.8666 72.3272C21.8849 72.2466 21.5494 72.1119 21.6229 72.2301ZM36.9415 1.04178C35.4367 1.06701 34.4793 0.796041 36.1458 0.740501C36.4454 0.733887 35.5057 0.882627 35.8885 0.895804C36.5843 0.920437 37.0445 0.688499 37.7642 0.804603C37.8927 0.824457 37.0261 1.03897 36.9388 1.04233C36.9397 1.04215 36.9406 1.04197 36.9415 1.04178ZM4.9827 56.6219C4.98325 56.6319 5.15704 56.9484 5.16508 56.9537C5.34333 57.0766 4.9939 56.4409 4.9827 56.6219ZM36.2598 76.0378C36.2788 76.0492 37.1185 76.0808 37.1466 76.0712C37.5855 75.9279 35.8949 75.8656 36.2598 76.0378ZM0.431944 33.1097C0.391813 32.7067 0.456481 32.231 0.628988 31.9407C0.555486 32.3274 0.492687 32.721 0.431944 33.1097Z' fill='%233DA89C'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 7.5rem;
    height: 7.5rem;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint($xl-bp) {
      width: 5rem;
      height: 5rem;
    }

  }

  &:before {
    content: 'Шаг';
    font-weight: 600;
    font-size: 3rem;
    color: var(--secondary-green--darke);
    font-family: var(--font-family);

    @include breakpoint($xl-bp) {
      font-size: 2.4rem;
    }
  }

  &:nth-child(2n + 1) {
    .how-img {
      width: 40rem;
      padding-right: 10rem;

      @include breakpoint($xl-bp) {
        padding-right: 0;
      }

      @include breakpoint($sm-bp) {
        height: 20rem;
      }
    }
  }
}

.how-desc {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 144%;
  color: var(--primary-black);

  margin-top: 0.5rem;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;
  }
}

.how-img {
  width: 34rem;
  height: 26rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2rem;

  padding-right: 4rem;
  max-width: 100%;

  @include breakpoint($xl-bp) {
    padding-right: 0;
  }

  @include breakpoint($sm-bp) {
    height: 20rem;
  }

  img {
    @include breakpoint($xl-bp) {
      object-position: left;
    }
  }
}

.how-btn {
  margin-top: -14.6rem;
  margin-bottom: 13.6rem;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($xl-bp) {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.consult {
  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
}

.consult-inner {
  background: var(--secondary-purp--light);

  border: 2px solid var(--secondary-purp--shade);
  border-radius: 3rem;
  padding: 2.5rem;

  @include breakpoint($xl-bp) {
    padding: 1.7rem 1.6rem;
    padding-bottom: 2.2rem;
  }
}

.consult-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  @include breakpoint($xl-bp) {
    align-items: flex-start;
    line-height: 115%;
    gap: 1rem;
  }

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='25' viewBox='0 0 23 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.9985 8.66667C21.9949 8.30187 21.981 8.07091 21.9267 7.85059C21.8624 7.58983 21.7559 7.34051 21.612 7.11186C21.4496 6.85396 21.2239 6.63358 20.7699 6.19159L16.6678 2.19792C16.2141 1.75621 15.9867 1.53483 15.7219 1.37684C15.487 1.23673 15.2312 1.13321 14.9633 1.07061C14.7369 1.01769 14.4997 1.00443 14.1248 1.00111C13.9995 1 13.8588 1 13.6979 1H7.82517C6.35505 1 5.61945 1 5.05793 1.27854C4.56401 1.52355 4.16274 1.91422 3.91107 2.39507C3.62497 2.94174 3.62497 3.65789 3.62497 5.08914V11.2225M21.9985 8.66667C21.9997 8.78883 21.9997 8.92601 21.9997 9.08282V19.9157C21.9997 21.3441 21.9997 22.0584 21.7139 22.6045C21.4623 23.0854 21.0599 23.4767 20.566 23.7217C20.005 24 19.2711 24 17.8038 24L12.8124 24M21.9985 8.66667H22M21.9985 8.66667H18.3207C16.8535 8.66667 16.1188 8.66667 15.5578 8.3884C15.0639 8.14339 14.6626 7.75167 14.4109 7.27081C14.1248 6.72415 14.1248 6.00902 14.1248 4.57778V1.00111M7.56242 15.0556L10.1874 17.6111M1 24V20.8056L10.8436 11.2222L14.1248 14.4167L4.28121 24H1Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.3rem;
    height: 2.5rem;
    display: flex;

    flex: 0 0 auto;

    @include breakpoint($xl-bp) {
      margin-top: 0.2rem;
    }
  }
}

.consult-form {
  margin-top: 2.1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr) 41rem;
  gap: 2.5rem 3rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.6rem;
  }
}

.consult-labels {
  grid-column: 3 span;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include breakpoint($xl-bp) {
    margin-top: 0.5rem;
    gap: 0.7rem;
  }
}

.consult-label {}

.consult-submit {
  width: 16.6rem;
  margin-left: auto;

  padding-top: 1.1rem;
  padding-bottom: 1.1rem;

  @include breakpoint($xl-bp) {
    width: 100%;

    font-weight: 600;
    font-size: 1.8rem;

    margin-top: 0.5rem;
  }
}

.reviews {
  padding-top: 3.3rem;

  @include breakpoint($xl-bp) {
    padding-top: 1.4rem;
  }
}

.reviews-wrapper {
  padding-left: 24rem;
  padding-right: 24rem;

  @include breakpoint($xl-bp) {
    padding-left: 0;
    padding-right: 0;
  }
}

.reviews-swiper {
  padding-left: 2rem;
  padding-right: 2rem;

  padding-top: 1.5rem;
  padding-bottom: 4.2rem;

  @include breakpoint($xl-bp) {
    padding-top: 0.9rem;

    padding-left: 1.6rem;
    padding-right: 1.6rem;

    padding-bottom: 3.2rem;
  }

  .swiper-slide {
    border: 2px solid var(--secondary-greenp--light);
    border-radius: 3rem;
    padding: 2rem;
    padding-bottom: 1.5rem;

    box-shadow: 7px 8px 10px 0 rgba(0, 0, 0, 0.08);
    background: var(--primary-white--2);

    margin-right: 4rem;

    width: calc(100% / 4 - 3rem);

    min-height: 30.9rem;

    display: flex;
    flex-direction: column;

    @include breakpoint($xl-bp) {
      width: 29.4rem;
      padding: 1.6rem;
      padding-bottom: 1rem;
      min-height: 28rem;

      margin-right: 1.6rem;
    }
  }


  .swiper-pagination {
    bottom: 0;
  }
}

.reviews-column {
  display: flex;
  flex-direction: column;

}

.reviews-img {
  border-radius: 1rem;
  width: 8rem;
  height: 8rem;

  flex: 0 0 auto;

  @include breakpoint($xl-bp) {
    border-radius: 1.6rem;
  }
}

.reviews-name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 144%;
  color: var(--secondary-green--darke);

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 125%;
  }
}

.reviews-occup {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
  color: var(--primary-black);

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    line-height: 143%;
  }
}

.reviews-author {
  display: flex;
  align-items: center;
  gap: 1.5rem;


}

.reviews-desc {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 125%;
  color: #1d1d1d;

  margin-top: 1rem;

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    line-height: 143%;
    margin-top: 0.5rem;
  }
}

.reviews-showmore {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--secondary-greenp--light);

  font-family: var(--font-family);

  margin-top: auto;
  text-align: start;
  padding-top: 1rem;

  cursor: pointer;

  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  transition: color var(--time);

  order: 1;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--secondary-green--darke);
    }
  }

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
  }

  .hide {
    display: none;
  }

  &.active {
    .hide {
      display: block;
    }

    .show {
      display: none;
    }

    &+.reviews-desc {
      display: block;
    }
  }
}

.faq {
  padding-top: 2.5rem;

  @include breakpoint($xl-bp) {
    padding-top: 0.8rem;
  }
}

.faq-title {
  cursor: pointer;
  position: relative;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &.opened {
    &::after {
      transform: translateY(-50%) rotate(180deg);
    }

    &+.faq-list {
      display: block;
    }
  }

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='24' viewBox='0 0 48 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.84 4.90398L36.96 7.02598L25.406 18.584C25.2209 18.7703 25.0007 18.9181 24.7582 19.019C24.5157 19.1199 24.2557 19.1719 23.993 19.1719C23.7304 19.1719 23.4703 19.1199 23.2278 19.019C22.9853 18.9181 22.7652 18.7703 22.58 18.584L11.02 7.02598L13.14 4.90598L23.99 15.754L34.84 4.90398Z' fill='%235FCEC1'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 4.8rem;
    height: 2.4rem;
    margin-left: 2rem;
    display: inline-block;
    transition: transform var(--time);
    transform: translateY(-50%);

    @include breakpoint($xl-bp) {
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}

.faq-list {
  margin-top: 1.5rem;

  display: none;

  @include breakpoint($xl-bp) {
    margin-top: 0.8rem;
  }
}

.faq-accordion {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--primary-white);
  border-bottom: 1px solid var(--secondary-green);
  border-top: 1px solid var(--secondary-green);
  border-radius: 3rem;
  padding: 1rem 4rem;

  @include breakpoint($xl-bp) {
    border-radius: 1.6rem;
    padding: 0.8rem 1.2rem;
  }

  @include breakpoint($xl-bp) {
    &+& {
      margin-top: -1px;
    }
  }
}

.faq-h3,
.faq-summary {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  transition: color var(--time);

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;
  }
}

.faq-summary {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  @include breakpoint($xl-bp) {
    gap: 2rem;
    align-items: center;
  }

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='24' viewBox='0 0 48 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.84 4.90398L36.96 7.02598L25.406 18.584C25.2209 18.7703 25.0007 18.9181 24.7582 19.019C24.5157 19.1199 24.2557 19.1719 23.993 19.1719C23.7304 19.1719 23.4703 19.1199 23.2278 19.019C22.9853 18.9181 22.7652 18.7703 22.58 18.584L11.02 7.02598L13.14 4.90598L23.99 15.754L34.84 4.90398Z' fill='%235BC3B7'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 4.8rem;
    height: 2.4rem;
    display: flex;
    flex: 0 0 auto;
    transition: transform var(--time);

    @include breakpoint($xl-bp) {
      width: 3.6rem;
      height: 1.8rem;
    }

    details[open] & {
      transform: rotate(180deg);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--secondary-green--darke);
    }
  }
}

.faq-inner {
  display: flex;
  gap: 2.5rem;

  margin-top: 1rem;
  max-width: 102rem;

  @include breakpoint($xl-bp) {
    display: block;
  }
}

.faq-img {
  width: 6rem;
  height: 4.2rem;
  flex: 0 0 auto;

  @include breakpoint($xl-bp) {
    float: left;
  }
}

.faq-wysiwyg {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 144%;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 138%;
  }

  ul {
    li {
      padding-left: 3rem;
      position: relative;

      @include breakpoint($xl-bp) {
        padding-left: 2.5rem;
      }

      &::before {
        content: '•';
        position: absolute;
        left: 1rem;
      }
    }
  }
}

.faq-comand {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--secondary-green--darke);

  @include breakpoint($xl-bp) {
    margin-bottom: 3rem;
    margin-left: 7rem;

    font-size: 1.6rem;

    position: relative;
    top: 1rem;
  }
}