.menu {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;

  @include breakpoint($xl-bp) {
    display: none;

    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 8rem);
    max-height: calc(100svh - 8rem);
    overflow-y: auto;
    background: var(--primary-white);

    flex-direction: column;
    animation: fadeEffect var(--time);

    padding-top: 1.6rem;
    padding-bottom: 4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.menu--open {
  display: flex;
}

.menu-button {
  display: none;

  @include breakpoint($xl-bp) {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 20C35 20.3315 34.8683 20.6495 34.6339 20.8839C34.3995 21.1183 34.0815 21.25 33.75 21.25H6.25C5.91848 21.25 5.60054 21.1183 5.36612 20.8839C5.1317 20.6495 5 20.3315 5 20C5 19.6685 5.1317 19.3505 5.36612 19.1161C5.60054 18.8817 5.91848 18.75 6.25 18.75H33.75C34.0815 18.75 34.3995 18.8817 34.6339 19.1161C34.8683 19.3505 35 19.6685 35 20ZM6.25 11.25H33.75C34.0815 11.25 34.3995 11.1183 34.6339 10.8839C34.8683 10.6495 35 10.3315 35 10C35 9.66848 34.8683 9.35054 34.6339 9.11612C34.3995 8.8817 34.0815 8.75 33.75 8.75H6.25C5.91848 8.75 5.60054 8.8817 5.36612 9.11612C5.1317 9.35054 5 9.66848 5 10C5 10.3315 5.1317 10.6495 5.36612 10.8839C5.60054 11.1183 5.91848 11.25 6.25 11.25ZM33.75 28.75H6.25C5.91848 28.75 5.60054 28.8817 5.36612 29.1161C5.1317 29.3505 5 29.6685 5 30C5 30.3315 5.1317 30.6495 5.36612 30.8839C5.60054 31.1183 5.91848 31.25 6.25 31.25H33.75C34.0815 31.25 34.3995 31.1183 34.6339 30.8839C34.8683 30.6495 35 30.3315 35 30C35 29.6685 34.8683 29.3505 34.6339 29.1161C34.3995 28.8817 34.0815 28.75 33.75 28.75Z' fill='%23363636'/%3E%3C/svg%3E%0A");
    width: 4rem;
    height: 4rem;

    display: block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    position: relative;
    z-index: 20;
  }
}


.menu-button--active {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 23.25L23.25 1.25' stroke='%23363636' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.25 23.25L1.25 1.25' stroke='%23363636' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

  background-size: 2.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #333;
  opacity: 0.4;
  z-index: 10;
}

.menu-wrap {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;

  margin-left: auto;
  margin-right: auto;

  @include breakpoint($xl-bp) {
    width: 100%;
    gap: 0;
  }
}

.menu-list {
  display: flex;
  border-radius: 0 0 1.6rem 1.6rem;
  padding: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  background: var(--primary-white);

  @include breakpoint($xl-bp) {
    flex-direction: column;

    box-shadow: none;
    padding: 0 1.6rem;
  }

  &>* {
    &:first-child {
      a {
        padding-left: 3.4rem;
        border-radius: 0 0 0 1.6rem;
        @include breakpoint($xl-bp) {
          padding: 0.8rem 0;
        }
      }
    }

    &:last-child {
      a {
        padding-right: 3.4rem;
        border-radius: 0 0 1.6rem 0;
        @include breakpoint($xl-bp) {
          padding: 0.8rem 0;
        }
      }
    }
  }

  a {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 1.8rem 0.8rem;

    display: block;
    transition: background-color var(--time);

    @include breakpoint($xl-bp) {
      font-size: 1.6rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      border-radius: 0.8rem;
    }

    &.active {
      background-color: #F0F0F0;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #F0F0F0;
      }
    }
  }
}

.menu-bot {
  padding-top: 1.4rem;
}

.menu-phone {
  font-weight: 700;
  font-size: 2.2rem;
  text-align: right;
  color: var(--primary-black);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.6rem;

  @include breakpoint($xl-bp) {
    display: none;
  }

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.96059 5.15245C9.68217 4.45641 9.00804 4 8.25838 4H5.73684C4.77761 4 4 4.77742 4 5.73665C4 13.8901 10.6099 20.5 18.7633 20.5C19.7226 20.5 20.5 19.7223 20.5 18.7631L20.5004 16.2411C20.5004 15.4915 20.0441 14.8174 19.3481 14.539L16.9314 13.5727C16.3061 13.3226 15.5943 13.4352 15.0769 13.8663L14.4532 14.3865C13.7248 14.9935 12.653 14.9452 11.9825 14.2747L10.2262 12.5168C9.55572 11.8463 9.50617 10.7754 10.1132 10.047L10.6333 9.42327C11.0644 8.90596 11.1779 8.1939 10.9279 7.56867L9.96059 5.15245Z' fill='%235BC3B7'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;
    display: block;
  }
}

a.menu-phone {
  transition: color var(--time);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--secondary-green);
    }
  }
}

.menu-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;

  margin-top: 1.2rem;

  @include breakpoint($xl-bp) {
    border-top: 1px solid rgba(153, 153, 153, 0.4);
    padding-top: 1.6rem;
    margin-top: 0;
    justify-content: center;
  }
}

.menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include breakpoint($xl-bp) {
    gap: 0.8rem;
    flex-direction: row;
  }
}

.menu-btn {
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  line-height: 125%;

  @include breakpoint($xl-bp) {
    width: auto;

    font-size: 1.4rem;
    line-height: 129%;

    padding: 0.4rem 1rem;
  }
}

.menu-btn1 {
  @include breakpoint($xl-bp) {
    order: 1;
  }
}

.menu-pages {}

.menu-nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  margin-top: 1.05rem;

  @include breakpoint($xl-bp) {
    flex-direction: column;
    padding-top: 1.6rem;
    border-top: 1px solid rgba(153, 153, 153, 0.4);
    gap: 1.6rem;
  }

  a {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    transition: color var(--time);

    @include breakpoint($xl-bp) {
      font-size: 1.6rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--secondary-green);
      }
    }
  }
}

.menu-info {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 114%;
  color: var(--secondary-grey);

  @include breakpoint($xl-bp) {
    display: none;
  }
}