<section class="faq container">
  <h2 class="faq-title h2 text-lgreen @class" role="button" onclick="this.classList.toggle('opened')">Часто задаваемые вопросы</h2>

  <div class="faq-list">
    <details class="faq-accordion">
      <summary class="faq-summary">
        <h3 class="faq-h3">Совместимость ли метод  ФрАНМ с психологическими практиками?</h3>
      </summary>

      <div class="faq-inner">
        <div class="faq-img img-contain">
          <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/logo/FrANM_logo.svg" class="lazyload" alt="logo">
        </div>

        <div class="faq-wysiwyg">
          <h4 class="faq-comand">Команда ФрАНМ</h4>

          <p>
            Чтобы курс принёс максимальную пользу и был полностью безопасным, мы рекомендуем отложить начало сеансов, если вы сейчас:
          </p>
          <ul>
            <li>испытываете острое недомогание с высокой температурой;</li>
            <li>проходите лечение отита (воспаления уха);</li>
            <li>страдаете от острого ринита (сильная заложенность носа);</li>
            <li>недавно перенесли черепно-мозговую травму (в первые недели после неё).</li>
          </ul>
        </div>
      </div>
    </details>

    <details class="faq-accordion" open>
      <summary class="faq-summary">
        <h3 class="faq-h3">Когда стоит отложить курс?</h3>
      </summary>

      <div class="faq-inner">
        <div class="faq-img img-contain">
          <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/logo/FrANM_logo.svg" class="lazyload" alt="logo">
        </div>

        <div class="faq-wysiwyg">
          <h4 class="faq-comand">Команда ФрАНМ</h4>

          <p>
            Чтобы курс принёс максимальную пользу и был полностью безопасным, мы рекомендуем отложить начало сеансов, если вы сейчас:
          </p>
          <ul>
            <li>испытываете острое недомогание с высокой температурой;</li>
            <li>проходите лечение отита (воспаления уха);</li>
            <li>страдаете от острого ринита (сильная заложенность носа);</li>
            <li>недавно перенесли черепно-мозговую травму (в первые недели после неё).</li>
          </ul>
        </div>
      </div>
    </details>

    <details class="faq-accordion">
      <summary class="faq-summary">
        <h3 class="faq-h3">Что делать, если вы сомневаетесь?</h3>
      </summary>

      <div class="faq-inner">
        <div class="faq-img img-contain">
          <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/logo/FrANM_logo.svg" class="lazyload" alt="logo">
        </div>

        <div class="faq-wysiwyg">
          <h4 class="faq-comand">Команда ФрАНМ</h4>

          <p>
            Чтобы курс принёс максимальную пользу и был полностью безопасным, мы рекомендуем отложить начало сеансов, если вы сейчас:
          </p>
          <ul>
            <li>испытываете острое недомогание с высокой температурой;</li>
            <li>проходите лечение отита (воспаления уха);</li>
            <li>страдаете от острого ринита (сильная заложенность носа);</li>
            <li>недавно перенесли черепно-мозговую травму (в первые недели после неё).</li>
          </ul>
        </div>
      </div>
    </details>

    <details class="faq-accordion">
      <summary class="faq-summary">
        <h3 class="faq-h3">С чем не рекомендуется совмещать курсы ФрАНМ?</h3>
      </summary>

      <div class="faq-inner">
        <div class="faq-img img-contain">
          <img src="./assets/images/pokazplace.jpg" data-src="./assets/images/logo/FrANM_logo.svg" class="lazyload" alt="logo">
        </div>

        <div class="faq-wysiwyg">
          <h4 class="faq-comand">Команда ФрАНМ</h4>

          <p>
            Чтобы курс принёс максимальную пользу и был полностью безопасным, мы рекомендуем отложить начало сеансов, если вы сейчас:
          </p>
          <ul>
            <li>испытываете острое недомогание с высокой температурой;</li>
            <li>проходите лечение отита (воспаления уха);</li>
            <li>страдаете от острого ринита (сильная заложенность носа);</li>
            <li>недавно перенесли черепно-мозговую травму (в первые недели после неё).</li>
          </ul>
        </div>
      </div>
    </details>
  </div>
</section>