<section class="consult container">
  <div class="consult-inner">
    <h2 class="consult-title h3 text-white">Получить бесплатную консультацию у специалиста</h2>

    <form action="#" id="consult-modal">
      <div class="consult-form">
        <input type="text" name="name" placeholder="Фамилия Имя Отчество*" required>
        <input type="tel" name="tel" placeholder="+7 (___)___-__-__*" required>
        <input type="email" name="email" placeholder="Эл. почта*" required>
        <input type="text" name="message" placeholder="Сообщение">

        <div class="consult-labels">
          <label class="checkbox consult-label">
            <input type="checkbox" name="acceptance" required>
            <span class="checkbox-box"></span>
            <span class="checkbox-text text-swhite">Я&nbsp;ознакомлен&nbsp;c&nbsp;<a href="policy.html">Политикой&nbsp;конфиденциальности сайта</a></span>
          </label>
          <label class="checkbox consult-label">
            <input type="checkbox" name="personal" required>
            <span class="checkbox-box"></span>
            <span class="checkbox-text text-swhite">Я даю <a href="policy.html">Согласие на обработку персональных данных</a> и ознакомлен с его содержанием</span>
          </label>
        </div>

        <button type="submit" class="btn btn-white consult-submit">Отправить</button>
      </div>
    </form>
  </div>
</section>