<div class="menu">
  <div class="menu-wrap">
    <ul class="menu-list">
      <li><a href="#" class="text-green">Детям</a></li>
      <li><a href="#" class="text-green actives">Взрослым</a></li>
      <li><a href="#" class="text-green">Спортсменам</a></li>
      <li><a href="#" class="text-purp">Специалистам</a></li>
    </ul>


    <div class="menu-pages">
      <div class="menu-info">Фрактальная акустическая нейромодуляция. Настройка мозга через звук.</div>

      <ul class="menu-nav">
        <li><a href="#">Каталог курсов</a></li>
        <li><a href="#">О методе</a></li>
        <li><a href="#">Научная база</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
  </div>

  <div class="menu-bot">
    <a href="tel:89991228670" class="menu-phone">8 999 122-86-70</a>

    <div class="menu-links">
      <a href="#" class="menu-btn1 menu-btn btn btn-secondary">Стать партнёром</a>
      <div class="menu-column">
        <a href="#" class="menu-btn btn">Кабинет для взрослых</a>
        <a href="#" class="menu-btn btn">Кабинет для детей</a>
      </div>
    </div>
  </div>
</div>