<div class="menu">
  <div class="menu-wrap">
    <ul class="menu-list">
      <li><a href="#" class="text-green">Детям</a></li>
      <li><a href="adults.html" class="text-green @if ('Взрослым' === '{{ title }}'){active}">Взрослым</a></li>
      <li><a href="#" class="text-green">Спортсменам</a></li>
      <li><a href="#" class="text-purp">Специалистам</a></li>
    </ul>


    <div class="menu-pages">
      <div class="menu-info">Фрактальная акустическая нейромодуляция. Настройка мозга через звук.</div>

      <ul class="menu-nav">
        <li><a href="catalog.html">Каталог курсов</a></li>
        <li><a href="about.html">О методе</a></li>
        <li><a href="base.html">Научная база</a></li>
        <li><a href="contact.html">Контакты</a></li>
      </ul>
    </div>
  </div>

  <div class="menu-bot">
    <a href="tel:+79991228670" class="menu-phone">8 999 122-86-70</a>

    <div class="menu-links">
      <button class="menu-btn1 menu-btn btn btn-secondary" data-modal="modal">Стать партнёром</button>
      <div class="menu-column">
        <a href="#" class="menu-btn btn">Кабинет для взрослых</a>
        <a href="#" class="menu-btn btn">Кабинет для детей</a>
      </div>
    </div>
  </div>
</div>