<div class="modal" id="modal">
  <div class="modal-block">
    <button type="button" class="modal-close" aria-label="close modal" data-close-modal></button>

    <div class="modal-title h3 text-white">Стать партнером</div>

    <form>
      <div class="modal-form">
        <input type="text" name="company" placeholder="Название организации*" required>
        <input type="text" name="name" placeholder="ФИО*" required>
        <input type="tel" name="tel" placeholder="Телефон*" required>
        <input type="email" name="email" placeholder="Эл. почта">
        <input type="text" name="message" placeholder="Сообщение">

        <div class="consult-labels modal-labels">
          <label class="checkbox consult-label">
            <input type="checkbox" name="acceptance" required>
            <span class="checkbox-box"></span>
            <span class="checkbox-text text-swhite">Я&nbsp;ознакомлен&nbsp;c&nbsp;<a href="policy.html">Политикой&nbsp;конфиденциальности сайта</a></span>
          </label>
          <label class="checkbox consult-label">
            <input type="checkbox" name="personal" required>
            <span class="checkbox-box"></span>
            <span class="checkbox-text text-swhite">Я даю <a href="policy.html">Согласие на обработку персональных данных</a> и ознакомлен с его содержанием</span>
          </label>
        </div>

        <button type="submit" class="btn btn-white consult-submit modal-submit">Отправить</button>
      </div>
    </form>
  </div>
</div>